@using ApiAiWeatherDemo.Models
@model WeatherQuestionModel

@{
    ViewBag.Title = "Index";
}

<h2>API AI</h2>
<h3>Hi this endpoint is using <a href="http://www.api.ai/">Api AI</a></h3>

@Html.Label("Ask a question like 'What is the weather in Edinburgh?'");
@using (Html.BeginForm("Post", "apiai", FormMethod.Post))
{
    @Html.LabelFor(m => m.Question)
    @Html.TextBoxFor(m => m.Question)
}

@if (@Model.ForecastResult != null)
{
    <div>Forecast in @Model.City</div>
    <div>
        @Html.Label("Max temperature: ")
        @Model.ForecastResult.TempMax
    </div>
    <div>
        @Html.Label("Min temperature: ")
        @Model.ForecastResult.TempMin
    </div>
    <div>
        @Html.Label("Humidity: ")
        @Model.ForecastResult.Humidity
    </div>
    <div>
        @Html.Label("Pressure: ")
        @Model.ForecastResult.Pressure
    </div>
}


