@using ApiAiWeatherDemo.Ai.Models.ApiAi
@model ApiAIIntentObject

@{
    ViewBag.Title = "Intents";
}

<h2>Intents</h2>
<p>Here are a list of intents we are using with API AI</p>

@if (Model != null)
{
        <div>
            @Html.Label("ID: ")
            @Model.id
        </div>
        <div>
            @Html.Label("Name: ")
            @Model.name
        </div>
        <div>
            @if (Model.responses.Count != 0)
            {
                @Html.Label("Responses: ")
                foreach (Response res in Model.responses)
                {
                    <p>Action Name: @res.action </p>
                }
            }
        </div>
        <div>
            @if (Model.contexts.Count != 0)
            {
                @Html.Label("Contexts: ")
                foreach (String contextValue in Model.contexts)
                {
                    @contextValue
                }
            }
        </div>
        <div>
            @Html.Label("Templates: ")
            <p>These phrases are used to train the intent</p>
            <ul>
                @foreach (String template in Model.templates)
                {
                    <li>@template</li>
                }
            </ul>
        </div>
        <div>
        </div>
}
